{% extends "./base.html" %}


{% block content %}

<div class="container mt-3 mb-5">
    <div>
        <div>
            <h3 class="text-center text-info">
                <u> About Us</u>
            </h3>
        </div>
        <div class=" p-2 bg-light shadow col-lg-8 mx-auto">
        
            
            
            
            <p class="text-uppercase ">
                <b>What is clgkart.com</b>
            </p>
            <p class="pl-2">
                Clgkart is an e-commerce marketplace for college students. 
                <br>
               we covered three category <br>
                (1) food <br>
                (2) stationery <br>
                 (3) daily needs <br>
                  With more than 300 products
                  and 30 plus brands in our category you will find everything you are looking.
                  <br>
                 Choose from a wide range of options in every category, at the best quality available at the lowest prices.
                  your order will be delivered right to your college,
                  <br>
                 You can pay cash on delivery or online using your debit/credit card, UPI id and many more options are available.

            </p>



            


        </div>
    </div>
</div>

{% endblock %}