{% extends "./base.html" %}
{% load food_tags %}
{% block title %}mycart{%endblock%}
{% block content %}





    <div class="mt-2 col-lg-4  boredr-b mx-auto   rounded  mb-2">


       <div class="ul-center ">
        <ul class=" pl-2   nav nav-pills " id="pills-tab" role="tablist">
            <li class="  nav-item" role="presentation">
                <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="true">Stationary</a>
            </li>
            <li class="  nav-item" role="presentation">
                <a class="nav-link " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="flase">Food</a>
            </li>
            
    
        </ul>
       </div>
    
    
    </div>











<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <!-------------------------stationary start----------------------->
        
        <div class="container mb-5">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="row mt-2 gx-3">

                        <div class="col-12 col-lg-8 col-12 mx-auto main_cart mb-lg-0 mb-5 ">
                            {% for c in cart_st %}
                            <div class="">

                                <div class=" mb-2 shadow border  row">
                                    <div class="    col-8 mx-auto  mt-2">

                                        <div class="row">
                                            <div class=" col-12">
                                                <div>

                                                    <blockquote class="blockquote">
                                                        {{c.stationary}}
                                                    </blockquote>

                                                </div>
                                                <div class=" row mx-auto  ">
                                                    {% discount_cart c.stationary.price c.stationary.discount as sale_price %}
                                                   


                                                    <div class="  col-md-4 col-12">
                                                        <p><strong> Price :{% multiply sale_price c.quantity as total %} ₹ {{total}}
                                                               
                                                                </strong></p>
                                                    </div>
                                                    <div class="col-md-8 col-12">
                                                        <div class="">
                                                            <p><small>
                                                                    <span class="text-danger"><del>
                                                                         {% multiply c.stationary.price c.quantity as total2 %} ₹ {{total2}}
                                                                            
                                                                           
                                                                        </del>

                                                                    </span>

                                                                    <span class="text-success">
                                                                        {{c.stationary.discount}}%
                                                                        off</span>
                                                                </small></p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col pl-4">
                                                        <p>
                                                            Delivary charge : 0
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="col-4  mx-auto d-flex justify-content-center align-item-center  product_img">

                                        <div class="row ">
                                            <div
                                                class=" mx-auto d-flex justify-content-center align-item-center col-12 p-1">
                                                <img  class="img-fluid" src="{{c.stationary.image.url}}" alt=""><!-- height="100px"-->
                                            </div>
                                            <div
                                                class=" mx-auto d-flex justify-content-center align-item-center col-12">

                                                <p>Quantity{{c.quantity}}</p>
                                                  
        
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            {%endfor%}
                        </div>

                        <div class="  col-md-12 col-lg-4 col-12 mx-auto mt-lg-0 mt-md-5">
                            <div class="border p-2 shadow bg-light">

                                <div class="price_indiv d-flex justify-content-between ">
                                    <p>Product amount</p>
                                    <p><span>₹ {{cart_st|cal_total_payable_amount_st}}</span></p>

                                </div>
                                <div class="price_indiv d-flex justify-content-between ">
                                    <p>shiping charge</p>
                                    <p><span>₹ 0</span></p>

                                </div>
                                <hr />
                                <div class="total-amt d-flex justify-content-between  ">
                                    <p><b>The total amount : <b> </b>
                                            <p><span>₹{{cart_st|cal_total_payable_amount_st}}</span>
                                        </b></p>

                                </div>
                                <div class="total-amt d-flex justify-content-between font-weight-bold ">
                                    <div><a href="/stationary/clearcart/?return_url={{request.path}}"
                                            class="btn btn-outline-danger">Clear
                                            Cart </a></div>
                                    <div><a href="/stationary/checkout" class="btn btn-outline-info active"> check out</a></div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------stationary end----------------------->




    <!------------------------food start----------------------->    
    <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="container mb-5">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="row mt-2 gx-3">

                        <div class="col-12 col-lg-8 col-12 mx-auto main_cart mb-lg-0 mb-5 ">
                            {% for c in cart %}
                            <div class="">

                                <div class=" mb-2 shadow border  row">
                                    <div class="    col-8 mx-auto  mt-2">

                                        <div class="row">
                                            <div class=" col-12">
                                                <div>

                                                    <blockquote class="blockquote">
                                                        {{c.food}}
                                                    </blockquote>

                                                </div>
                                                <div class=" row mx-auto  ">

                                                    {% discount_cart c.food.price c.food.discount as sale_price %}

                                                    <div class="  col-md-4 col-12">
                                                        <p><strong> Price :{% multiply sale_price c.quantity as total %}
                                                                ₹
                                                                {{total}}</strong></p>
                                                    </div>
                                                    <div class="col-md-8 col-12">
                                                        <div class="">
                                                            <p><small>
                                                                    <span class="text-danger"><del>
                                                                            {% multiply c.food.price c.quantity as total2 %} ₹ {{total2}}
                                                                            
                                                                        </del>

                                                                    </span>

                                                                    <span class="text-success"> {{c.food.discount}}%
                                                                        off</span>
                                                                </small></p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col pl-4">
                                                        <p>
                                                            Delivary charge : 0
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="col-4  mx-auto d-flex justify-content-center align-item-center  product_img">

                                        <div class="row ">
                                            <div
                                                class=" mx-auto d-flex justify-content-center align-item-center col-12 p-1">
                                                <img class="img-fluid"  src="{{c.food.image.url}}" alt="">
                                            </div>
                                            <div
                                                class=" mx-auto d-flex justify-content-center align-item-center col-12">

                                               
                                                <p>Quantity{{c.quantity}}</p>
                                                  
        
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            {%endfor%}
                        </div>

                        <div class="  col-md-12 col-lg-4 col-12 mx-auto mt-lg-0 mt-md-5">
                            <div class="border p-2 shadow bg-light">

                                <div class="price_indiv d-flex justify-content-between ">
                                    <p>Product amount</p>
                                    <p><span>₹ {{cart|cal_total_payable_amount}}</span></p>

                                </div>
                                <div class="price_indiv d-flex justify-content-between ">
                                    <p>shiping charge</p>
                                    <p><span>₹ 0</span></p>

                                </div>
                                <hr />
                                <div class="total-amt d-flex justify-content-between  ">
                                    <p><b>The total amount : <b> </b>
                                            <p><span>₹ {{cart|cal_total_payable_amount}}</span>
                                        </b></p>

                                </div>
                                <div class="total-amt d-flex justify-content-between font-weight-bold ">
                                    <div><a href="/foods/clearcart/?return_url={{request.path}}"
                                            class="btn btn-outline-danger">Clear
                                            Cart </a></div>
                                    <div><a href="/foods/checkout" class="btn btn-outline-info active"> check out</a></div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
       <!------------------------food end---------------------->
    <div class="tab-pane fade" id="pills-daily_needs" role="tabpanel" aria-labelledby="pills-daily_needs-tab">

        <!------------------------daily_needs start----------------------->
        

        <!------------------------daily_needs end---------------------->
    </div>

</div>








{% endblock %}