{% extends "./base.html" %}
{% block content %}

<!--Password Reset Complete-->
<div class=" alert alert-success ">
  
<div class="col-lg-4 border border-info col-md-8 col-12 mx-auto border rounded p-3  alert-success " role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <h2 class="font-weight-bold mt-3 text-dark">Password reset complete</h2>
  <hr>
  <p class="text-dark">Your password has been set. You may go ahead and log in now.</p>
  <div class="text-center"> <a href="/login" class="btn btn-primary">Log in</a></div>
</div>

</div>



{% endblock %}