{% extends "./base.html" %}

{% block content %}

<!--Password reset sent-->

<div class="alert alert-success ">
	<div class="border border-info  alert-success  col-lg-5 mx-auto border rounded p-3">
		<div>
			<h2 class=" text-center text-alert">Password reset sent</h2>
			<hr>
			<p class="text-dark">We've emailed you instructions for setting your password, if an account exists with the
				email you entered. You
				should receive them shortly</p>
			<hr>
			<p class="text-dark">If you don't receive an email, please make sure you've entered the address you registered
				with, and check your spam folder</p>
		</div>
	</div>
</div>






{% endblock %}