{% extends "./base.html" %}
{% block content %}

{% load crispy_forms_tags %}

<!--Password Reset Confirm-->
<div class="col-lg-4 mx-auto border rounded p-3 mt-4">
    <form  method="post">

        <h2 class=" text-center">Password Reset Confirm</h2>
        <hr>
        <p>Please enter your new password.</p>
        {{ form|crispy }}
        {% csrf_token %}
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Reset password</button>
        </div>
    </form>
    
</div>




{% endblock %}