{% extends "./base.html" %}


{% block content %}

{% load crispy_forms_tags %}


<div class=" p-2 ">
    <div class="col-lg-4 bg-info  mx-auto border rounded p-3 mt-2 shadow p-3 mb-5 bg-white rounded ">
        <form action="." method="post">

            <h5 class=" text-center ">Reset Password</h5>
            <hr>
            
            <p class="font-italic">Enter your email address below, and we'll email instructions for setting a new one.
            </p>
            <form method="POST">
                {{ form|crispy }}
                {% csrf_token %}
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Send email</button>
                </div>
            </form>

    </div>
</div>



{% endblock %}