{% extends "./base.html" %}


{% block content %}

<div class="container mt-3 mb-5">
    <div>
        <div>
            <h3 class="text-center text-info">
                <u> Privacy Policy</u>
            </h3>
        </div>
        <div class=" p-2 bg-light shadow">
            <p>Welcome to clgkart’s Privacy Policy (“Privacy Policy” or “Policy”).</p>
            
            <p class="text-capitalize">
                Your privacy is important to us, so CLGKART has created the following Privacy Policy,
                here you know what information we collect when you visit our Site <a
                    href="http://www.clgkart.com">clgkart</a> , and why we collect it and how we use it.

            </p>
            <p>
                The terms <b>"You," "Your," "Yours"</b> and <b>"User"</b> refer to the <u>entity/person/organization</u>
                using our Site.
                When this Policy mentions <b> "We", "Us,"</b> and <b>"Our"</b> it refers to <u>CLGKART and its
                    subsidiaries and
                    affiliates</u>.
                This Privacy Policy is governed by our Terms of Services.

            <p>For any questions regarding this Policy or any requests regarding the processing of personal data,
                please contact us at <a href="mailto:contact.clgkart@gmail.com">contact.clgkart@gmail.com</a> </p>
            </p>

            <p class="text-uppercase ">
                <b>1. INFORMATION WE COLLECT FROM YOU.</b>
            </p>
            <p class="pl-2">
                We collect the information You provide to us and this information is necessary for the adequate
                performance of the contractual arrangement which is in place between You and us and allow us to comply
                with our legal obligations.
                Account Signup Information. When You create the account, we ask You to provide the signup information,
                such as Email, Name, Phone, Username, Passwords, Personal Number, Address.
                Communications, Chats, Messaging. When you communicate with us through email or any other way, we
                collect information about your communication and any information You choose to provide or disclose. In
                order to answer your request, we may access information provided by email, chats, purchase history, etc.
                Login information. We collect Login information if You are logging to our account with Authentication
                Data.
            </p>



            <p class="text-uppercase ">
                <b>2. INFORMATION WE COLLECT AUTOMATICALLY</b>
            </p>
            <p class="pl-2">
                When you use our Site or contact us directly we may collect information, including your personal
                information, about the way you act in our Site, the services You use and how You use them.
                This information is necessary for the adequate performance of the contract between You and us, to enable
                us to comply with legal obligations and given our legitimate interest in being able to provide and
                improve the functionalities of the Site.
                Log data We automatically collect log data when you
                access and use the Site, even if you have not created an Account or logged in. That information
                includes, among other things: Browser type, Date/time stamp.


            </p>

            <p class="text-uppercase ">
                <b>3. COOKIES</b>
            </p>

            <p class="pl-2">
                We do not use cookies or other tracking technologies.


            </p>

            <p class="text-uppercase ">
                <b>4. SENSITIVE INFORMATION</b>
            </p>

            <p class="pl-2">
                We do not collect sensitive information such as political opinions, religious or philosophical beliefs,
                racial or ethnic origin, genetic data, biometric data, health data or data related a sexual orientation.
            </p>

            <p class="text-uppercase ">
                <b>5. PAYMENT INFORMATION</b>
            </p>

            <p class="pl-2">
                To order and use our services we may require you to provide certain  information to facilitate the processing of payments. We will not store or collect your payment card details. 
                <br>
                That information is provided directly to our third-party payment processors whose use of your Personal information is governed by their Privacy Policy.  You may find their privacy policy 
                <a href="https://razorpay.com/privacy/">link</a>  here:
            </p>

            <p class="text-uppercase ">
                <b>6. THIRD PARTY LINKS</b>
            </p>

            <p class="pl-2">
                Our Site may have links to other websites. Please review their privacy policies to learn more about how they collect and use your personal data, because we do not control their policies and personal data processing practices.
            </p>
            <p class="text-uppercase ">
                <b>7. AMENDMENTS</b>
            </p>

            <p class="pl-2">
                Our Policy may change from time to time. We will post any Policy changes on our Site and, if the changes are significant, we may consider providing a more explicit notice (including, for certain services, email notification of Policy changes).
            </p>
            <p class="text-uppercase ">
                <b>8. ACCEPTANCE OF THIS POLICY</b>
            </p>

            <p class="pl-2">
                We assume that all Users of this Site have carefully read this document and agree to its contents. If someone does not agree with this Policy, they should refrain from using our Site. We reserve the right to change our Policy at any time and inform by using the way as indicated in Section 7. Continued use of this Site implies acceptance of the revised Policy.
            </p>
            <p class="text-uppercase ">
                <b>9. FURTHER INFORMATION</b>
            </p>

            <p class="pl-2">
                If you have any further questions regarding the data we collect, or how we use it, then please feel free to contact us at the details as indicated above.
            </p>


        </div>
    </div>
</div>

{% endblock %}