{% extends "./base.html" %}


{% block content %}

<div class="container mt-3 mb-5">
    <div>
        <div>
            <h3 class="text-center text-info">
                <u> Return and Exchange Policy</u>
            </h3>
        </div>
        <div class=" p-2 bg-light shadow">
            <p>Welcome to clgkart’s Return and Exchange Policy.</p>
            
            <p class="text-capitalize">
                clgkart's <b>returns and exchange policy</b> gives you an option to return or exchange items purchased on clgkart for any reason within the specified return/exchange period . 
                <br>
                All products listed under a particular category may not have the same returns and exchange policy.
                <br>
                Right now we devided our all product in three category, so please go through these category to know the return and exachange policy.

            </p>
            <hr>
            <div>
                <div class=" bg-info row border-bottom mx-auto">
                    <div class="col-4 border text-center pt-1 pb-1-">
                        <strong>Category</strong>
                    </div>
                    <div class="col-8 border text-center">
                        <strong>Return and Exchange Policy</strong>
                    </div>
                </div>


                <div class="row border-bottom mx-auto">
                    <div class="col-4 border text-center pt-1 pb-1-">
                        <p>Food</p>
                    </div>
                    <div class="col-8 border ">
                        <p>
                            As a general rule you shall not be entitled to cancel your order once you have received confirmation of the order
                        
                        <br>
                      
                       
                        
                        </p>
                        <p>We reserve the sole right to cancel your order in the following circumstance:</p>
                        <p class="pl-2">
                            
                        
                            <b>(a)</b> Failure to deliver your order due to lack of information, direction or authorization from you at the time of delivery
                            <br>
                            <b>(b)</b> unavailability of all the items ordered by you at the time of booking the order.</p>
                    </div>
                </div>
                <div class="row border-bottom mx-auto">
                    <div class="col-4 border text-center pt-1 pb-1-">
                       <p>Stationary</p>
                    </div>
                    <div class="col-8 border">
                        <p>Free replacement will be provided within 2 days if the product is delivered in defective/damaged condition or different from the ordered item
                            (Verify your product at the time of delivery).
                            <br>
                            Please keep the product  with original accessories.
                    
                        </p>
                    </div>
                </div>
                <div class="row border-bottom mx-auto">
                    <div class="col-4 border text-center pt-1 pb-1-">
                        Daily Needs
                    </div>
                    <div class="col-8 border ">
                        <p>Free replacement will be provided within 2 days if the product is delivered in defective/damaged condition or different from the ordered item (Verify your product at the time of delivery).
                            <br>
                            Please keep the product  with original accessories .
                            
                            <br>
                            

                        </p>
                        
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>

{% endblock %}