{% extends "./base.html" %}

{% block title %}Our Team{%endblock%}

{% block content %}

<div class="container  mt-2">
    <h1 class="text-info text-center">Our Team</h1>

    <div class="shadow p-2">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center  ">

                <div>
                    <img src="/static/home/images/juned_1_photo.jpeg" height="300px"
                        class="  float-center rounded-circle" alt="">
                </div>
            </div>
            <hr>
            <div class="col-lg-6 col-md-6 col-sm-12  ">
                <div class="p-2">
                    <p>
                    <h1><b class="text-dark">JUNED ASLAM</b></h1>
                    </p>
                    <p>
                    <h3 class="text-warning">Founder </h3>
                    </p>
                    <p class=" ">He is doing bachelor of technology in computer science from
                        Budge Budge Institute of Technology Kolkata. <br>
                        Together he has started <b>clgkart.com</b>(India's first ecommerce company for college
                        students).
                        <br>
                        And currently working as a role of <b>CEO</b> in this company.
                    </p>
                    <div class="">
                        <span style="font-size: 2rem; color: rgb(49, 160, 197);">
                            <a href="https://www.linkedin.com/in/juned-aslam-5a4602207" class="mr-4 text-reset">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </span>
                        <span style="font-size: 2rem; color: rgb(49, 160, 197);">
                            <a href="https://www.instagram.com/junedaslam96/" class="mr-4 text-reset">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </span>
                        <span style="font-size: 2rem; color: rgb(49, 160, 197);">
                            <a href="https://twitter.com/juned961" class="mr-4 text-reset">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </span>
                        <span style="font-size: 2rem; color: rgb(49, 160, 197);">
                            <a href="https://www.facebook.com/juned.aslam.9" class="mr-4 text-reset">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        
        
        <div class="row mb-5 p-1 pb-2 ">
         

            <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center mt-3">
                <div>
                    <img src="/static/home/images/adnan_photo.jpeg" height="160px"
                        class=" border float-center rounded-circle" alt="">
                    <br>
                    <u><b class="text-center">Adnan Hussain </b></u>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center mt-3">
                <div>
                    <img src="/static/home/images/wasim_photo.jpeg" height="160px"
                        class=" border float-center rounded-circle" alt="">
                    <br>
                    <u><b class="text-center">Wasim Ansari</b></u>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center mt-3">
                <div>
                    <img src="/static/home/images/ritik_photo.jpeg" height="160px"
                        class=" border float-center rounded-circle" alt="">
                    <br>
                    <u> <b class="text-center">Ritik Kumar</b></u>
                </div>

            </div>


            <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center mt-3">
                <div>
                    <img src="/static/home/images/raushan_photo.jpeg" height="160px"
                        class=" border float-center rounded-circle" alt="">
                    <br>
                    <u><b class="text-center">Raushan Kumar</b></u>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center mt-3">
                <div>
                    <img src="/static/home/images/MANISH.jpg " height="160px"
                        class=" border float-center rounded-circle" alt="">
                    <br>
                    <u><b class="text-center">Manish Kumar</b></u>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center mt-3">
                <div>
                    <img src="/static/home/images/ASHUTOSH.jpg" height="160px"
                        class=" border float-center rounded-circle" alt="">
                    <br>
                    <u> <b class="text-center">Ashutosh Kumar</b></u>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center mt-3">
                <div>
                    <img src="/static/home/images/vivek_photo.jpeg" height="160px"
                        class=" border float-center rounded-circle" alt="">
                    <br>
                    <u> <b class="text-center">Vivek Yadav</b></u>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6 text-center mt-3">
                <div>
                    <img src="/static/home/images/rahul_kumar.jpeg" height="160px"
                        class=" border float-center rounded-circle" alt="">
                    <br>
                    <u> <b class="text-center">Rahul Kumar Kumar</b></u>
                </div>

            </div>
        </div>

    </div>
</div>



{% endblock %}

<!--
   
-->