{% extends "./base.html" %}


{% block content %}

<div class="container mt-3 mb-5">
    <div>
        <div>
            <h3 class="text-center text-info">
                <u> Term and Condition</u>
            </h3>
        </div>
        <div class=" p-2 bg-light shadow">
            <p class="text-capitalize">
                Welcome to CLGKART.Our team provides services to subject to notices, terms and conditions as set out
                below. By accessing, browsing, or shopping on this website, you agree to all the terms and conditions in
                this agreement. Please read them carefully.</p>
            <p>

            <p class="text-uppercase ">
                <b>1. ACCOUNT REGISTRATION AND SUSPENSION.</b>
            </p>
            <p class="pl-2">
                <b>(a)</b> User need to create an account on the Platform.
                The Company does not permit Users to avail the Services on the Platform without prior registration.
                Users may access the Application by registering to create an account and become a member.
            </p>
            <p class="pl-2"><b>(b)</b> The Company reserves the right to terminate the Users account and / or deny
                access to the Platform if it is brought to the Company’s notice or if it is discovered that the User
                does not meet the conditions herein. User(s) accessing or using the Platform represent and warrant that
                they have the right to access or use the Platform.</p>


            <p class="text-uppercase ">
                <b>2. PLACING ORDERS</b>
            </p>
            <p class="pl-2">
                <b>(a)</b> The Application allows Users to place orders for the products listed by Suppliers on
                Application and the
                Application, subject to Agreement herein, facilitates the placement of orders for the products by the
                Users.
            </p>

            <p class="pl-2"><b>(b) </b> On receipt of an order from a User, Company shall send electronically a
                confirmation of such
                order
                to
                Supplier and the User concerned. Further, the Company may inform the User about the availability or
                unavailability or change in price of the order as informed by Supplier concerned, from time to time.
                Confirmation of the order by Supplier shall be treated as final.</p>
            <p>
            <p class="pl-2">
                <b>(c)</b> The Company does not own, sell or resell any products on its own and/or does not control the
                Suppliers
                and only facilitates the transaction between buyers and sellers including User and Supplier as a
                'marketplace'. Company makes all reasonable efforts to promptly update the Users account and other
                information in order to assist facilitate the transaction completion. Hence, Users are required to
                provide
                current, complete and accurate purchase and account information for all purchases made at on the
                Application.
            </p>





         
        </div>
    </div>
</div>

{% endblock %}