{% extends "./base.html" %}
{% load food_tags %}
{% block content %}
<br>
<br>
<div class="jumbotron container p-2 alert-danger text-center">
    <h1>Payment Failed</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio beatae ipsum expedita similique illo adipisci quibusdam nihil, dolorem blanditiis minus porro quae, voluptatibus debitis mollitia, culpa dolorum numquam. Quasi aliquid assumenda repudiandae, consectetur perferendis eum aperiam inventore eaque autem quos nulla recusandae nesciunt at delectus nemo, iusto ab? Aperiam!</p>
    <hr class="my-4">
    <p>Your Payment Failed...</p>
</div>

{% endblock %}
