.main_signup
{
    background-color: black;
    color:black;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
   
  
    position: relative;
    background-image :  url('../images/laptop-gc539fb11e_1280.png');
    background-attachment: fixed;
}


.formdivsignup{
    opacity: 0.8;


}